<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/img/favicon.ico" rel="shortcut icon">

        <title><%= title %> - Drug Association Network</title>

         <!-- Styles -->
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-y+fLJ0LEudr90hGVs3z3qJscIwBcKSNqDD1DU3CbG6LeKR5pFk7023EUU2cSRsOa" crossorigin="anonymous">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">

        <!-- Styles -->
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-y+fLJ0LEudr90hGVs3z3qJscIwBcKSNqDD1DU3CbG6LeKR5pFk7023EUU2cSRsOa" crossorigin="anonymous">


        <link href="/css/style.css" rel="stylesheet">

        <script
          src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
          crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

         <!-- START SIGMA IMPORTS -->
        <script src="/js/sigma/src/sigma.core.js"></script>
        <script src="/js/sigma/src/conrad.js"></script>
        <script src="/js/sigma/src/utils/sigma.utils.js"></script>
        <script src="/js/sigma/src/utils/sigma.polyfills.js"></script>
        <script src="/js/sigma/src/sigma.settings.js"></script>
        <script src="/js/sigma/src/classes/sigma.classes.dispatcher.js"></script>
        <script src="/js/sigma/src/classes/sigma.classes.configurable.js"></script>
        <script src="/js/sigma/src/classes/sigma.classes.graph.js"></script>
        <script src="/js/sigma/src/classes/sigma.classes.camera.js"></script>
        <script src="/js/sigma/src/classes/sigma.classes.quad.js"></script>
        <script src="/js/sigma/src/classes/sigma.classes.edgequad.js"></script>
        <script src="/js/sigma/src/captors/sigma.captors.mouse.js"></script>
        <script src="/js/sigma/src/captors/sigma.captors.touch.js"></script>
        <script src="/js/sigma/src/renderers/sigma.renderers.canvas.js"></script>
        <script src="/js/sigma/src/renderers/sigma.renderers.webgl.js"></script>
        <script src="/js/sigma/src/renderers/sigma.renderers.svg.js"></script>
        <script src="/js/sigma/src/renderers/sigma.renderers.def.js"></script>
        <script src="/js/sigma/src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
        <script src="/js/sigma/src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
        <script src="/js/sigma/src/renderers/webgl/sigma.webgl.edges.def.js"></script>
        <script src="/js/sigma/src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
        <script src="/js/sigma/src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
        <script src="/js/sigma/src/renderers/canvas/sigma.canvas.labels.def.js"></script>
        <script src="/js/sigma/src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
        <script src="/js/sigma/src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
        <script src="/js/sigma/src/renderers/canvas/sigma.canvas.edges.def.js"></script>
        <script src="/js/sigma/src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
        <script src="/js/sigma/src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
        <script src="/js/sigma/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
        <script src="/js/sigma/src/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
        <script src="/js/sigma/src/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
        <script src="/js/sigma/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
        <script src="/js/sigma/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
        <script src="/js/sigma/src/renderers/canvas/sigma.canvas.extremities.def.js"></script>
        <script src="/js/sigma/src/renderers/svg/sigma.svg.utils.js"></script>
        <script src="/js/sigma/src/renderers/svg/sigma.svg.nodes.def.js"></script>
        <script src="/js/sigma/src/renderers/svg/sigma.svg.edges.def.js"></script>
        <script src="/js/sigma/src/renderers/svg/sigma.svg.edges.curve.js"></script>
        <script src="/js/sigma/src/renderers/svg/sigma.svg.labels.def.js"></script>
        <script src="/js/sigma/src/renderers/svg/sigma.svg.hovers.def.js"></script>
        <script src="/js/sigma/src/middlewares/sigma.middlewares.rescale.js"></script>
        <script src="/js/sigma/src/middlewares/sigma.middlewares.copy.js"></script>
        <script src="/js/sigma/src/misc/sigma.misc.animation.js"></script>
        <script src="/js/sigma/src/misc/sigma.misc.bindEvents.js"></script>
        <script src="/js/sigma/src/misc/sigma.misc.bindDOMEvents.js"></script>
        <script src="/js/sigma/src/misc/sigma.misc.drawHovers.js"></script>

        <!-- END SIGMA IMPORTS -->
        <script src="/js/sigma/plugins/sigma.parsers.gexf/gexf-parser.js"></script>
        <script src="/js/sigma/plugins/sigma.parsers.gexf/sigma.parsers.gexf.js"></script>

        <!-- Filters -->
        <script src="/js/sigma/plugins/sigma.plugins.filter/sigma.plugins.filter.js"></script>

        <!-- Export -->
        <script src="/js/sigma/plugins/sigma.exporters.svg/sigma.exporters.svg.js"></script>

        <script type="text/javascript">
          var fname = "<%= fileName %>";
        </script>

    </head>
    <body>

        <div class="se-pre-con"></div>
        <div id="container">

          <div class="modal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary">Save changes</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <div id="graph-container"></div>

          <div id="control-pane">
            <!-- <h3><i class="fas fa-code-branch"></i> DAN <small>canvas</small></h3> -->
            <h3><img src="/img/network.svg" alt="DAN" width="60px" height="87px"> dan <small>canvas</small></h3>
            <div class="form-group">
              <h6 class="font-weight-bold">Drug association network</h6>

              <p class="desc">Network visualization of significant interactions of drugs which are annotated with ATC codes for all <%= title %>. Viewing <span class="node-count font-weight-bold"></span> nodes and <span class="edge-count font-weight-bold"></span> edges.</p>

              <p class="font-weight-bold "><a href="">More about this visualisation <i class="fas fa-info-circle"></i></p></a>

              <div class="form-group">
              <label class="col-form-label col-form-label-sm" for="search">Search</label>
              <input class="form-control form-control-sm" type="text" placeholder="Drug name..." id="search">
              <div class="invalid-feedback">Enter a valid drug name.</div>
            </div>

              <span class="control-label">Legend</span>

               <ul>
                <li><span class="colors"></span> Colour represents <%= viewType %> </li>
                <li><span class="node"></span> Drug identifier (Drugbank ID)</li>
                <li><span class="edge"></span> A drugs relationship using Jaccard Index</li>
              </ul>

            </div>

            <div class="form-group degree">
              <label class="control-label">Min degree <span id="min-degree-val">0</span></label>
              <p class="text-muted">
                0 <input id="min-degree" type="range" min="0" max="0" value="0"> <span id="max-degree-value">0</span></p>
            </div>

            <div class="form-group atc">
               <label class="control-label" for="inputLarge">ATC class</label>
              <select class="custom-select" id="node-category">
                <option value="" selected>All classes</option>
              </select>
            </div>

            <hr class="my-4">
            <div>
              <button id="reset-btn" class="btn btn-sm btn-info">Reset</button>
              <button id="export-btn" class="btn btn-sm btn-light">Export</button>
              <a href="/" title="Back" class="btn btn-link float-right" data-toggle="tooltip" data-placement="right" data-original-title="Goto Home"><i class="fas fa-arrow-circle-left"></i></a>

            </div>
            <div id="dump" class="hidden"></div>
          </div>

            <div id="zoom">
                <div class="zoom-icons" rel="center"><i class="fas fa-search"></i></div>
                <div class="zoom-icons" rel="in"><i class="fas fa-search-plus"></i></div>
                <div class="zoom-icons" rel="out"><i class="fas fa-search-minus"></i></div>
            </div>

          <div id="attributepane">
            <div class="text">
              <div title="Close" class="left-close return-button"><div class="close-node"> <span> Close</span></div></div>

              <h5 class="font-weight-bold text-muted">Drug details</h5>
              <hr class="my-2">

              <div class="nodeattributes">
                  <div class="image">
                      <div class="structure"></div>
                  </div>
                  <h6 class="text-center"><span class="node-name font-weight-bold"></span></h6>
                  <ul class="node-fields">
                    <li><strong>ATC code:</strong> <span class="node-code badge badge-pill badge-success"></span></li>
                    <li><strong>Type:</strong> <span class="node-type badge badge-pill badge-info"></span> </li>
                    <li><strong>Group:</strong> <span class="node-group badge badge-pill badge-warning"></span></li>
                    <li><strong>Category:</strong> <span class="node-cat text-muted"></span></li>
                    <!-- <li><strong>Inchi Key:</strong> <span class="node-inchikey"></span></li> -->
                    <li><strong>ATC class:</strong> <span class="node-atc"></span></li>
                  </ul>

                  <hr class="my-2">
                  <h6 class="font-weight-bold mb-2 text-muted">External reference</h6>
                  <table class="table table-sm table-striped" style="font-size: 10px!important;">
                    <thead>
                      <tr class="table-success">
                        <th>Source</th>
                        <th>ID</th>
                      </tr>
                    </thead>
                    <tr>
                      <td width="10%"><strong>Drugbank</strong></td>
                      <td><span class="node-db"></span></td>
                    </tr>
                    <tr>
                      <td><strong>LINCS</strong></td>
                      <td><span class="node-lincs"></span></td>
                    </tr>
                    <tr>
                      <td><strong>PubChem</strong></td>
                      <td><span class="node-pubchem"></span></td>
                    </tr>
                    <tr>
                      <td><strong>ChEMBL</strong></td>
                      <td><span class="node-chembl"></span></td>
                    </tr><tr>
                      <td><strong>KEGG</strong></td>
                      <td><span class="node-kegg"></span></td>
                    </tr>
                  </table>

              <hr class="my-2">

              <h6 class="font-weight-bold mb-2 text-muted">Connections</h6>
                  <!-- <ul class="node-edges">
                  </ul> -->

                  <table class="table table-sm table-striped node-edges" style="font-size: 10px!important;">
                    <thead>
                      <tr class="table-info">
                        <th width="70%">Drug</th>
                        <th class="text-center">JI</th>
                        <th width="5%">Note</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
              </div>
              </div>
            </div>
        </div>

        <script type="text/javascript" src="/js/all-script.js"></script>
  </body>

  </html>
