body{padding-top:10px}pre{background:#f7f7f9}@media (min-width: 768px){body>.navbar-transparent{box-shadow:none}body>.navbar-transparent .navbar-nav>.open>a{box-shadow:none}}#home,#help{font-size:0.9rem}#home .navbar,#help .navbar{background:#349aed;background:linear-gradient(145deg, #349aed 50%, #34d8ed 100%);transition:box-shadow 200ms ease-in}#home .navbar-transparent,#help .navbar-transparent{background:none !important;box-shadow:none}#home .navbar-brand .nav-link,#help .navbar-brand .nav-link{display:inline-block;margin-right:-30px}#home .navbar-brand img,#help .navbar-brand img{display:inline-block;margin:0 10px;width:30px}#home .nav-link,#help .nav-link{text-transform:uppercase;font-weight:500;color:#fff}#home{padding-top:0px}#home .btn{padding:0.6rem 0.55rem 0.5rem;box-shadow:none;font-size:0.7rem;font-weight:500}.bs-docs-section{margin-top:4em}.bs-docs-section .page-header h1{padding:2rem 0;font-size:3rem}.dropdown-menu.show[aria-labelledby="themes"]{display:flex;width:420px;flex-wrap:wrap}.dropdown-menu.show[aria-labelledby="themes"] .dropdown-item{width:33.333%}.dropdown-menu.show[aria-labelledby="themes"] .dropdown-item:first-child{width:100%}.bs-component{position:relative}.bs-component+.bs-component{margin-top:1rem}.bs-component .card{margin-bottom:1rem}.bs-component .modal{position:relative;top:auto;right:auto;left:auto;bottom:auto;z-index:1;display:block}.bs-component .modal-dialog{width:90%}.bs-component .popover{position:relative;display:inline-block;width:220px;margin:20px}#source-button{position:absolute;top:0;right:0;z-index:100;font-weight:bold}#source-modal pre{max-height:calc(100vh - 11rem);background-color:rgba(0,0,0,0.7);color:rgba(255,255,255,0.7)}.nav-tabs{margin-bottom:15px}.progress{margin-bottom:10px}#footer{margin:5em 0}#footer li{float:left;margin-right:1.5em;margin-bottom:1.5em}#footer p{clear:left;margin-bottom:0}.splash{padding:12em 0 6em;background:#349aed;background:linear-gradient(145deg, #349aed 50%, #34d8ed 100%);color:#fff;text-align:center}.splash .logo{width:160px}.splash h1{font-size:3em;color:#fff}.splash #social{margin:2em 0 3em}.splash .alert{margin:2em 0;border:none}.splash .sponsor a{color:#fff}.section-tout{padding:6em 0 1em;border-bottom:1px solid rgba(0,0,0,0.05);background-color:#eaf1f1}.section-tout .fa{margin-right:0.2em}.section-tout p{margin-bottom:5em}.section-preview{padding:4em 0 4em}.section-preview .preview{margin-bottom:4em;background-color:#eaf1f1}.section-preview .preview img{max-width:100%}.section-preview .preview .image{position:relative}.section-preview .preview .image:before{box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);position:absolute;top:0;left:0;width:100%;height:100%;content:"";pointer-events:none}.section-preview .preview .options{padding:2em;border:1px solid rgba(0,0,0,0.05);border-top:none;text-align:center}.section-preview .preview .options p{margin-bottom:2em}.section-preview .dropdown-menu{text-align:left}.section-preview .lead{margin-bottom:2em}@media (max-width: 767px){.section-preview .image img{width:100%}}.sponsor img{max-width:100%}.sponsor #carbonads{max-width:240px;margin:0 auto}.sponsor .carbon-text{display:block;margin-top:1em;font-size:12px}.sponsor .carbon-poweredby{float:right;margin-top:1em;font-size:10px}@media (max-width: 767px){.splash{padding-top:8em}.splash .logo{width:100px}.splash h1{font-size:2em}#banner{margin-bottom:2em;text-align:center}}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */

.jumbotron {
    padding: 4rem 4rem;
}

.navbar .nav-item a{
  font-size: 1.18em !important;
}

.navbar a.dropdown-item{
  font-size: 1em !important;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.struc{
    width: 80px!important;
    height: 80px!important;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}

#graph-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

#zoom {
  z-index:999;
  position: fixed;
  /*left: 45%;*/
  /*bottom: 25px;*/
  left: 3.9%; 
  bottom: 25px;
  margin:0 auto;
  padding: 0;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align:left;
}

/*#zoom .zoom-icons {
  background:#fff;
  background-color:rgba(255,255,255,0.7);
  width: 60px;
  height: 60px;
  cursor: pointer;
  border:1px solid #ccc;
  float:left;
  margin:4px;
  background-repeat:no-repeat;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}*/

#zoom .zoom-icons {
    background: #fff;
    background-color: rgba(255,255,255,0.7);
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid #ccc;
    float: left;
    margin: 4px;
    background-repeat: no-repeat;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
}

#zoom .zoom-icons[rel=center] {
  
}

#zoom .zoom-icons[rel=in] {
  background-position:center; 
}

#zoom .zoom-icons[rel=out] {
  background-position:center; 
}
#control-pane {
      top: 10px;
      /*bottom: 10px;*/
      left: 10px;
      position: absolute;
      width: 240px;
      background-color: #fff;
      background-color:rgba(255,255,255,0.8);
      border: 1px solid #eee;
      box-shadow: 0 2px 6px rgba(0,0,0,0.3);
      padding: 5px;
      font-size: 10px;
  }
  #control-pane > div {
    margin: 10px;
    overflow-x: auto;
  }
  .line {
    clear: both;
    display: block;
    width: 100%;
    margin: 0;
    padding: 12px 0 0 0;
    /*border-bottom: 1px solid #aac789;*/

    border-bottom: 1px solid #333;

    background: transparent;
  }
  .hidden {
    display: none;
    visibility: hidden;
  }

  input[type=range] {
    width: 160px;
  }

/*#control-pane #export-btn {
    background: #FF5584;
    border-color: #ed406e;
}

#control-pane #reset-btn{
    background: #7383BF;
    border-color: #4d5b91;
}*/

#control-pane .node{
  background-image:url('../img/node.png');
  background-size: 12px 12px;
  width: 12px;
  height: 12px;
  float: left;
}

#control-pane .edge{
  background-image:url('../img/edge.png');
  background-size: 12px 12px;
  width: 12px;
  height: 12px;
  float: left;
}


#control-pane .colors {
   background-image:url('../img/colors.png');
   background-size: 12px 12px;
  width: 12px;
  height: 12px;
  float: left;
}

#control-pane .degree{
  margin-bottom: 0 !important;
}

#control-pane .atc{
  margin-top: 0 !important;
}

#control-pane ul{
  padding: 0;
  margin: 5px 0 0 0;
}

#control-pane ul li{
  list-style: none;
  padding: 3px 0;
}

#control-pane ul li span{
  margin-right: 5px;
}

#control-pane .desc{
  line-height: 16px;
}

.custom-select {
  height: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .image{
  border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}

#attributepane {
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    right:0;
    font-size: 10px;
  width: 260px;
  background-color: #fff;
  margin: 0;
  word-wrap: break-word;
  background-color:rgba(255,255,255,0.8);
  border-left: 1px solid #ccc;
  padding: 0px 18px 0px 18px;
  z-index: 1;
  display: none;
}


#attributepane .text {
  height:100%;
}


#attributepane .returntext em {
  background-image: url('../img/sprite.png');
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  background-position: -91px -13px;
  float: left;
}

#attributepane .returntext span {
  padding-left: 5px;
  display: block;
}

#attributepane .close {
  padding-left: 14px;
  margin-top: 10px;
}

#attributepane .close .c {
  border-top: 2px solid #999;
  padding: 10px 0 14px 0;
}

#attributepane .close em {
background-image: url('../img/sprite.png');
background-repeat: no-repeat;
background-position: -11px -13px;
display: block;
width: 24px;
height: 16px;
float: left;
}

#attributepane .close span {
display: block;
width: 151px;
float: left;
}

#attributepane .nodeattributes {
  display:block;
  height:85%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

#attributepane .name {
font-size: 14px;
cursor: default;
padding-bottom: 10px;
padding-top: 18px;
font-weight:bold;
}

#attributepane .data .plus {
background-repeat: no-repeat;
background-image: url('../img/sprite.png');
background-position: -171px -122px;
width: 22px;
height: 20px;
float: left;
display: block;
}

#attributepane .link {
padding: 0 0 0 4px;
}

#attributepane .link li {
padding-top: 2px;
cursor:pointer;
}

#attributepane .connect {
padding-top: 10px;
font-weight: bold;
font-size:14px;
}


#attributepane .close-node span{
  padding-left: 5px;
  display: block;
}

#attributepane .badge {
    font-size: 90% !important;
}

.left-close {
background-image: url('../img/cancel.png');
margin-left:-36px;
z-index:99999;
cursor: pointer;
padding-left:31px;
line-height:36px;
background-repeat: no-repeat;
margin-bottom:10px;
font-weight: bold;
font-size:16px;

}

.nodeattributes .node-name a:hover{
  text-decoration: none !important;
}

.nodeattributes ul{
  padding: 0;
  margin: 5px 0 0 0;
}

.nodeattributes ul li{
  list-style: none;
}

.nodeattributes  ul.node-fields li{
  list-style: none;
  margin: 5px 0;
}

.nodeattributes  .image{
  width: 220px;
  height: 90px;
  display: block;
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/loading.gif) center no-repeat #fff;
}

.lead-page {
  font-size: 0.9rem;
  font-weight: 300;
}






